ExecuteAutoEmployee/Service References/PFServiceClient/PFService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PFService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64978/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64978/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64978/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PFServiceClient" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPFService_IsPfEligible_InputMessage">
    <wsdl:part name="parameters" element="tns:IsPfEligible" />
  </wsdl:message>
  <wsdl:message name="IPFService_IsPfEligible_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsPfEligibleResponse" />
  </wsdl:message>
  <wsdl:message name="IPFService_GetPfEmployeeContribSofar_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPfEmployeeContribSofar" />
  </wsdl:message>
  <wsdl:message name="IPFService_GetPfEmployeeContribSofar_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPfEmployeeContribSofarResponse" />
  </wsdl:message>
  <wsdl:message name="IPFService_GetPfEmployerContribSofar_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPfEmployerContribSofar" />
  </wsdl:message>
  <wsdl:message name="IPFService_GetPfEmployerContribSofar_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPfEmployerContribSofarResponse" />
  </wsdl:message>
  <wsdl:message name="IPFService_IsPfEligibleWithId_InputMessage">
    <wsdl:part name="parameters" element="tns:IsPfEligibleWithId" />
  </wsdl:message>
  <wsdl:message name="IPFService_IsPfEligibleWithId_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsPfEligibleWithIdResponse" />
  </wsdl:message>
  <wsdl:message name="IPFService_GetPfEmployerControlSofarWithId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPfEmployerControlSofarWithId" />
  </wsdl:message>
  <wsdl:message name="IPFService_GetPfEmployerControlSofarWithId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPfEmployerControlSofarWithIdResponse" />
  </wsdl:message>
  <wsdl:message name="IPFService_GetPfEmployeeControlSofarWithId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPfEmployeeControlSofarWithId" />
  </wsdl:message>
  <wsdl:message name="IPFService_GetPfEmployeeControlSofarWithId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPfEmployeeControlSofarWithIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IPFService">
    <wsdl:operation name="IsPfEligible">
      <wsdl:input wsaw:Action="http://tempuri.org/IPFService/IsPfEligible" message="tns:IPFService_IsPfEligible_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPFService/IsPfEligibleResponse" message="tns:IPFService_IsPfEligible_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPfEmployeeContribSofar">
      <wsdl:input wsaw:Action="http://tempuri.org/IPFService/GetPfEmployeeContribSofar" message="tns:IPFService_GetPfEmployeeContribSofar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPFService/GetPfEmployeeContribSofarResponse" message="tns:IPFService_GetPfEmployeeContribSofar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPfEmployerContribSofar">
      <wsdl:input wsaw:Action="http://tempuri.org/IPFService/GetPfEmployerContribSofar" message="tns:IPFService_GetPfEmployerContribSofar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPFService/GetPfEmployerContribSofarResponse" message="tns:IPFService_GetPfEmployerContribSofar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsPfEligibleWithId">
      <wsdl:input wsaw:Action="http://tempuri.org/IPFService/IsPfEligibleWithId" message="tns:IPFService_IsPfEligibleWithId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPFService/IsPfEligibleWithIdResponse" message="tns:IPFService_IsPfEligibleWithId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPfEmployerControlSofarWithId">
      <wsdl:input wsaw:Action="http://tempuri.org/IPFService/GetPfEmployerControlSofarWithId" message="tns:IPFService_GetPfEmployerControlSofarWithId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPFService/GetPfEmployerControlSofarWithIdResponse" message="tns:IPFService_GetPfEmployerControlSofarWithId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPfEmployeeControlSofarWithId">
      <wsdl:input wsaw:Action="http://tempuri.org/IPFService/GetPfEmployeeControlSofarWithId" message="tns:IPFService_GetPfEmployeeControlSofarWithId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPFService/GetPfEmployeeControlSofarWithIdResponse" message="tns:IPFService_GetPfEmployeeControlSofarWithId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPFService" type="tns:IPFService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsPfEligible">
      <soap:operation soapAction="http://tempuri.org/IPFService/IsPfEligible" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPfEmployeeContribSofar">
      <soap:operation soapAction="http://tempuri.org/IPFService/GetPfEmployeeContribSofar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPfEmployerContribSofar">
      <soap:operation soapAction="http://tempuri.org/IPFService/GetPfEmployerContribSofar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsPfEligibleWithId">
      <soap:operation soapAction="http://tempuri.org/IPFService/IsPfEligibleWithId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPfEmployerControlSofarWithId">
      <soap:operation soapAction="http://tempuri.org/IPFService/GetPfEmployerControlSofarWithId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPfEmployeeControlSofarWithId">
      <soap:operation soapAction="http://tempuri.org/IPFService/GetPfEmployeeControlSofarWithId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PFService">
    <wsdl:port name="BasicHttpBinding_IPFService" binding="tns:BasicHttpBinding_IPFService">
      <soap:address location="http://localhost:64978/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>